{# Is used to render list of products. #}
{# Gets: list of products in product_list. #}

{% for product in product_list %}
  {% if forloop.first %}
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Brand</th>
        </tr>
      </thead>
      <tbody>
  {% endif %}
  <tr>
    <td><a href="{{ product.get_absolute_url }}">
      {{ product.title }}
    </a></td><td>
      {{ product.brand|default:"" }}
    </td>
  </tr>
  {% if forloop.last %}
    </tbody></table>
  {% endif %}
{% empty %}
  <p>No products to display.</p>
{% endfor %}
