{# Is used to render list of SKUs. #}
{# Gets: list of SKUs in sku_list. #}

{% for sku in sku_list %}
  {% if forloop.first %}
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Attributes</th>
          <th>SKU code</th>
        </tr>
      </thead>
      <tbody>
  {% endif %}
  <tr>
    <td><a href="{{ sku.get_absolute_url }}">
      {{ sku.product.title }}
    </a></td><td>
      {{ sku.attributes_description }}
    </td><td>
      {{ sku.sku }}
    </td>
  </tr>
  {% if forloop.last %}
    </tbody></table>
  {% endif %}
{% empty %}
  <p>No items to display.</p>
{% endfor %}
