{% extends "catalogue/base.html" %}

{% block title %}{{ attribute.name }} - {{ block.super }}{% endblock %}

{% block content %}
  <header>
    <h1>{{ attribute.name }}</h1>
    {% if attribute.is_removed %}
      <h4>This attribute has been removed.</h4>
    {% endif %}
<div>{% block top_actions %}{% endblock %}</div>

  </header>
  <section class="main-content">
    <ul class="actions">
      <li>
        <a href="{% url "catalogue:attribute_list" %}" class="back">
          &larr; Back to all Attributes list
        </a>
      </li>
    </ul>
  </section>

{% endblock %}

