{% extends "catalogue/base.html" %}
{% load url from future %}

{% block title %}Brands - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% if page_obj.paginator.num_pages > 1 %}
    {% if page_obj.has_previous %}
      {% if page_obj.previous_page_number == 1 %}
        <link rel="prev"
              href="{% url "catalogue:brand_list" %}" />
      {% else %}
        <link rel="prev"
              href="{% url "catalogue:paginated_brand_list" page=page_obj.previous_page_number %}" />
      {% endif %}
    {% endif %}
    {% if page_obj.has_next %}
      <link rel="next"
            href="{% url "catalogue:paginated_brand_list" page=page_obj.next_page_number %}"/>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  <header><h1>Brands</h1></header>

  <section class="main-content">
    <section class="content">
{% block above_list_actions %}{% endblock %}
      <section class="list">
        {% for brand in brand_list %}
          {% if forloop.first %}
            <table>
              <thead>
                <tr><th>Title</th></tr>
              </thead>
              <tbody>
          {% endif %}
          <tr>
            <td><a href="{{ brand.get_absolute_url }}">
              {{ brand.title }}
            </a></td>
          </tr>
          {% if forloop.last %}
            </tbody></table>
          {% endif %}
        {% empty %}
          <p>No brands to display.</p>
        {% endfor %}

        {% if page_obj.paginator.num_pages > 1 %}
          <div>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

            {% if page_obj.has_previous %}
              {% if page_obj.previous_page_number == 1 %}
                <a href="{% url "catalogue:brand_list" %}"
              {% else %}
                <a href="{% url "catalogue:paginated_brand_list" page=page_obj.previous_page_number %}"
              {% endif %}
                   rel="previous">previous</a>
            {% endif %}

            {% if page_obj.has_next %}
              <a href="{% url "catalogue:paginated_brand_list" page_obj.next_page_number %}"
                 rel="next">next</a>
            {% endif %}

          </div>
        {% endif %}
      </section>
    </section>
  </section>
{% endblock %}
