{% extends "catalogue/base.html" %}

{% block title %}{{ brand.title }} - {{ block.super }}{% endblock %}

{% block content %}
  <header>
    <h1>{{ brand.title }}</h1>
    {% if brand.is_removed %}
      <h4>This brand has been removed.</h4>
    {% endif %}
<div>{% block top_actions %}{% endblock %}</div>
  </header>
  <section class="main-content">
  <section class="content">
    {% for product in brand.products.not_removed %}
    {% if forloop.first %}
      <h3>Products</h3>
      <section class="list">
        <ul>
    {% endif %}
          <li>
            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
          </li>
    {% if forloop.last %}
        </ul>
      </section>
    {% endif %}
  {% endfor %}

  <ul>
    <li>
      <a href="{% url "catalogue:brand_list" %}" class="back">
        &larr; All Brands
      </a>
    </li>
  </ul>
  </section>
  </section>

{% endblock %}

