{% extends "catalogue/base.html" %}

{% block title %}{{ category.title }} - {{ block.super }}{% endblock %}

{% block content %}
  <header>
    <h1>{{ category.title }}</h1>
    {% if brand.is_removed %}
      <h4>This category has been removed.</h4>
    {% endif %}
<div>{% block top_actions %}{% endblock %}</div>

  </header>
  <section class="main-content">
  <section class="content">
    {% for product in category.products.not_removed %}
    {% if forloop.first %}
      <h3>Products</h3>
      <section class="list">

        <ul>
    {% endif %}
          <li>
            <a href="{{ product.get_absolute_url }}">{{ product }}</a>
          </li>
    {% if forloop.last %}
        </ul>
      </section>
    {% endif %}
  {% endfor %}

    <ul class="actions">
      <li>
        <a href="{% url "catalogue:category_list" %}" class="back">
          &larr; All Categories
        </a>
      </li>
    </ul>
  </section>
  </section>

{% endblock %}

