{# Is used to render list of categories. #}
{# Has above_list_actions block to insert "Add category" button. #}


{% extends "catalogue/base.html" %}
{% load url from future %}

{% block title %}Categories - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}

  {% if page_obj.paginator.num_pages > 1 %}
    {% if page_obj.has_previous %}
      <link rel="prev"
        {% if page_obj.previous_page_number == 1 %}
            href="{% url "catalogue:category_list" %}"/>
        {% else %}
            href="{% url "catalogue:paginated_category_list" page=page_obj.previous_page_number %}"/>
        {% endif %}
    {% endif %}
    {% if page_obj.has_next %}
      <link rel="next"
            href="{% url "catalogue:paginated_category_list" page=page_obj.next_page_number %}"/>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  <header><h1>Categories</h1></header>

  <section class="main-content">
    <section class="content">
{% block above_list_actions %}{% endblock %}
      <section class="list">

        {% for category in category_list %}
          {% if forloop.first %}
            <table>
              <thead>
                <tr><th>Title</th></tr>
              </thead>
              <tbody>
          {% endif %}
          <tr>
            <td><a href="{{ category.get_absolute_url }}">
              {{ category.title }}
            </a></td>
          </tr>
          {% if forloop.last %}
            </tbody></table>
          {% endif %}
        {% empty %}
          <p>No categories to display.</p>
        {% endfor %}

        {% if page_obj.paginator.num_pages > 1 %}
          <div>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

            {% if page_obj.has_previous %}
              {% if page_obj.previous_page_number == 1 %}
                <a href="{% url "catalogue:category_list" %}"
              {% else %}
                <a href="{% url "catalogue:paginated_category_list" page=page_obj.previous_page_number %}"
              {% endif %}
                 rel="previous">previous</a>
            {% endif %}

            {% if page_obj.has_next %}
              <a href="{% url "catalogue:paginated_category_list" page_obj.next_page_number %}"
                 rel="next">next</a>
            {% endif %}

          </div>
        {% endif %}
      </section>
    </section>
  </section>
{% endblock %}
