{% extends "catalogue/base.html" %}

{% block title %}{{ product.title }} - {{ block.super }}{% endblock %}

{% block content %}
  <header>
    <h1>{{ product.title }}</h1>
    {% if product.is_removed %}
      <h4>This product has been removed.</h4>
    {% endif %}
<div>{% block top_actions %}{% endblock %}</div>
  </header>
<section class="main-content"><section class="content">
  <h3>Product details</h3>

  <section class="list">
    <ul>
      {% if product.brand %}
        <li>Brand:
          <a href="{% url "catalogue:brand_detail" slug=product.brand.slug %}">
            {{ product.brand }}
          </a>
        </li>
      {% endif %}
      {% if product.primary_category %}
        <li>Primary Category:
          <a href="{% url "catalogue:category_detail" slug=product.primary_category.slug %}">
            {{ product.primary_category }}
          </a>
        </li>
      {% endif %}
    </ul>
  </section>
  {% if product.primary_category %}
    <h3>Categories</h3>
    <section class="list">
    <ul>
      {% for category in product.categories.all %}
        <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
      {% endfor %}
    </ul>
    </section>
  {% endif %}

  {% for sku in product.skus.all %}
    {% if forloop.first %}
      <section class="list">
        <h3>SKUs</h3>
        <table>
          <thead><tr><th>Product</th><th></th></tr></thead>
          <tbody>
    {% endif %}
          <tr>
            <td><a href="{{ sku.get_absolute_url }}">
              {{ sku.attributes_description }}
            </a></td>
            <td><a href="{{ sku.get_absolute_url }}">{{ sku.sku }}</a></td>
          </tr>
    {% if forloop.last %}
        </tbody></table>
      </section>
    {% endif %}
  {% endfor %}

  <section>
    <ul>
      <li>
        <a href="{% url "catalogue:product_list" %}" class="back">
          &larr; All products</a>
      </li>
    </ul>
  </section>

</section></section>

{% endblock %}

