{# Is used to render list of all skus. #}
{# Has above_list_actions block to insert "Add sku" button. #}

{% extends "catalogue/base.html" %}
{% load url from future %}

{% block title %}SKUs - {{ block.super }}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {% if page_obj.paginator.num_pages > 1 %}
    {% if page_obj.has_previous %}
      {% if page_obj.previous_page_number == 1 %}
        <link rel="prev"
              href="{% url "catalogue:sku_list" %}" />
      {% else %}
        <link rel="prev"
              href="{% url "catalogue:paginated_sku_list" page=page_obj.previous_page_number %}" />
      {% endif %}
    {% endif %}
    {% if page_obj.has_next %}
      <link rel="next"
            href="{% url "catalogue:paginated_sku_list" page=page_obj.next_page_number %}"/>
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  <header><h1>SKUs</h1></header>

  <section class="main-content">
    <section class="content">
{% block above_list_actions %}{% endblock %}
      <section class="list">

        {% include "catalogue/_sku_list.html" with sku_list=sku_list %}

        {% if page_obj.paginator.num_pages > 1 %}
          <div>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.

            {% if page_obj.has_previous %}
              {% if page_obj.previous_page_number == 1 %}
                <a href="{% url "catalogue:sku_list" %}"
              {% else %}
                <a href="{% url "catalogue:paginated_sku_list" page=page_obj.previous_page_number %}"
              {% endif %}
                   rel="previous">previous</a>
            {% endif %}

            {% if page_obj.has_next %}
              <a href="{% url "catalogue:paginated_sku_list" page=page_obj.next_page_number %}"
                 rel="next">next</a>
            {% endif %}

          </div>
        {% endif %}
      </section>
    </section>
  </section>
{% endblock %}
