{% extends "catalogue/base.html" %}

{% block title %}{{ sku.product.title }} - {{ block.super }}{% endblock %}

{% block content %}
  <header>
    <h1>{{ sku.product.title }}</h1>
{% block top_actions %}{% endblock %}
  </header>
  <section class="main-content">
  <section class="content">
    <section class="list">
      <table>
        <tbody>
        {% for skuattribute in sku.skuattributes.all %}
          <tr>
          <td>{{ skuattribute.attribute }}</td>
          <td>{{ skuattribute.value }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </section>

    <ul class="actions">
      <li>
        <a href="{% url "catalogue:sku_list" %}" class="back">
          &larr; Back to all SKUs list
        </a>
      </li>
    </ul>
  </section>
  </section>

{% endblock %}

